<nav>
    <menu>
        {% for item in MENUITEMS %}
            {% autoescape false %}
            <li><a href="{{ item.href }}">{{ item.title }}</a></li>
            {% endautoescape %}
        {% endfor %}
    </menu>
</nav>
